// Placeholder to allow overriding predefined variables smoothly.

$table-border-color: $background-color;
$table-header-bg-color: $background-color;
$table-zebra-color: $background-color;

// Width of the content area
$content-width:    900px;

$on-palm:          600px;
$on-laptop:        900px;


